<form action="/login" method="post">

    <label for="username" class="col-lg-2 control-label text-right">Username</label>
    <div class="col-lg-2">
      <input type="text" id="username" name="username" class="form-control"  >
    </div>
    <label for="username" class="col-lg-2 control-label text-right">Password</label>
    <div class="col-lg-2">
      <input type="text" id="username" name="username" class="form-control"  >
    </div>
    <div class="col-lg-3 col-lg-offset-8">
        <button type="submit" class="btn btn-lg admin-primary">Login</button>
      </div>

</form>